

.containerBox{
    margin-top: 3%;
    height: 20em;
    background: rgba(51, 51, 51);
    justify-items: center;

}

.img{
    width: 80%;
    margin-top: 4%;
    

}

.text{
    text-align: justify;
    color: #ffffff;
}

.dateNumber{
    font-size: 3em;
    color: #fff;
    position:relative;
    margin-top: 5%;

}

.dateText{
    font-size: 2em;
    position: relative;
    margin-left: 15%;
    margin-top: -10%;
}

.info{
    padding: 2%;
    margin-left: -2%;
}
.Btn{
    margin:5% 45%;
}