.formContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background : url(person-s-hand-with-pink-manicure-939835.jpg) center/cover;
    height: 700px;
}

.adminHeaderCustomer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    min-width: 100%;
    z-index: 2;
    background-color: hsla(287, 60%, 3%, 0.87);
    padding: 5px 20px;
}

.volver > .btn-primary {
    color: white;
    background-color: transparent;
    border: none;
}


.formContainer > .errorMensage {
    margin: 20px 100px 0px 100px;
}

.formContainer:hover .form {
    border: 6px solid #dda6c6;
    transition: all 0.5s
}

.form {
    width: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    border: 2px solid rgb(121, 104, 138);
    border-radius: 25px;
    color: white;
    align-items: center;
    background-color: #343a40;
    transition: all 1s
}

.label {
    font-size: 15px;
    margin: 10px 0 1px 0;
    padding: 1px 0 1px 12px;
    align-self: self-start
}

.input {
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 0.5px solid #ccc;
    border-radius: 4px;
    background-color: aliceblue;
}

.input:focus {
    border: 5px solid rgba(238, 130, 238, 0.918);

}

@media (max-width: 826px){
    .form {
        width: 90%;
        margin-top: 110px;
    }
    .input {
        margin-bottom: 0px;
    }
}

