.formContainer {
    display: flex;
    justify-content: center; 
}

.form {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.label {
    font-size: 12px;
    margin: 10px 0 1px 0;
    padding: 1px;
}

.input {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 0.5px solid #ccc;
}

.input:focus {
    border: 1px solid #166;

}

