.componentFlexButton {
  margin-top: 20px;
  max-width: 100%;
  outline: none;
}

.componentFlex {
  display: flex;
  border-bottom: 3px solid rgba(238, 130, 238, 0.918);
}

.componentFlexLogo {
  flex: 1 1 auto;
  align-self: center;
  max-width: 200px;
}

@media (min-width: 768px) {
  .componentFlexButton {
    flex: 3 1 auto;
    align-self: center;
    padding: 0 30%;
  }
}
