.topContent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}

.adminHeader{
    background-color: #343a40;
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.adminSection, .admintitle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.adminSection{
    margin: 50px 0 50px 0;
}

.admintitle{
    margin: 30px;
    padding: 20px;
}

.adminLabel {
    font-size: 12px;
    margin: 10px 0 1px 0;
    padding: 1px;
}

.adminForm {
    width: 55%;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formEventDate, .formEventContent {
    padding: 30px;
}

.formEventContent > .adminInput {
    width: 100%;
}
.textarea {
    resize: vertical;
    max-height: 50px;
    min-height: 50px;
}