

.ImgEventOne{
  width: 100%;
  height: em;
  object-fit: cover;
   
}

.display-2{
    font-size: 3rem;
    text-align: center;
}
.display-4{
    font-size: 2rem;
    text-align: center;
}
.topContent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}
.eventDescription{
    text-align: center;
    margin: 0 30px 0 30px;
}
.adminHeader{
    background-color: #343a40;
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.admintitle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
}

.adminSection{
    margin: 50px 0 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 580px){
    
    .formContainerMain > .errorMensage {
        align-self: center;
        font-size: 25px;
        width: 80%;
     }
}


