.adminHeader {
  padding: 0;
  margin: 0;
}
.login {
  background: rgba(238, 130, 238, 0.918);
  min-width: 100%;
  min-height: 100vh;
}
.containerLogin {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /* justify-content: center; */
}
.loginRow {
  align-items: center;
  display: flex;
  align-self: center;
  margin: 50px;
}
.login-wrap {
  align-self: center;
  width: auto;
  border: 1px solid #eee;
  padding: 30px;
  background: #343a40;
  border-radius: 4px;
}
.inputLogin {
  height: 50px;
}
.loginI {
  font-size: 24px;
}
.textLogin {
  color: #fff;
}
