.adminHeader {
  padding: 0;
  margin: 0;
  background-color: hsla(287, 60%, 3%, 0.87);
}
.login {
  background: rgba(238, 130, 238, 0.918);
  min-width: 100%;
  min-height: 100vh;
}
.containerLogin {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.loginRow {
  align-items: center;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 50px;
}
.login-wrap {
  align-self: center;
  width: 400px;
  border: 1px solid #eee;
  padding: 30px;
  background: #343a40;
  border-radius: 4px;
  margin: 100px 0 0 0;
  transition: all 1s;
}

.inputLogin {
  height: 50px;
}
.loginI {
  font-size: 24px;
}
.textLogin {
  color: #fff;
}
.login-wrap .errorMensage{
  font-size: 20px;
}

@media (max-width: 700px) {
    .errorMensage {
      font-size: 15px;
      min-width: 100%;
      margin: 30px 0 15px 0;
    }
    .loginRow {
      margin: 25px;
    }
    .login-wrap {
      width: 100%;
    }
    
}