.adminForm {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.formEventDate, .formEventContent {
    padding: 0px;
    margin: 0px;
}

.adminInput {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 0.5px solid #ccc;
}

.textarea {
    resize: vertical;
    max-height: 200px;
    min-height: 50px;
}

.adminLabel {
    font-size: 12px;
    margin: 10px 0 1px 0;
    padding: 1px;
}

.adminInput[type='file']{
    display: none;
    background-color: aquamarine;
    padding: 10px;
}

.labelButton{
    background-color: aquamarine;
    padding: 10px;
}

.adminForm >.btn-primary{
    
    bottom: 10px;
    margin: 20PX;
}
