.adminForm {
    width: 700px;
    margin: -20% 0 0 0;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    background-color:#343a40;
    border-radius:10px;
    border: 4px solid rgba(190, 70, 72, 0.801);
}

.formContainerMain {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.formContainerMain > .errorMensage {
   min-width: 0;
   align-self: flex-end;
   
}

.formEventDate, .formEventContent {
    padding: 0px;
    margin: 0px;
}

.adminInput {
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    margin: 5px 0 20px 0;
    box-sizing: border-box;
    border: 5px solid #ccc;
    border-radius: 4px;
    background-color: aliceblue;
}

.textarea {
    resize: vertical;
    max-height: 300px;
    min-height: 150px;
}

.adminInput[type='date']{
    letter-spacing: 14px;
    text-align: center;
}

.adminLabel, .labelButton {
    font-size: 20px;
    margin: 10px 0 1px 0;
    padding: 1px;
    color: white;
}

.adminInput[type='file']{
    background-color: aliceblue;
}

.adminForm >.btn-primary{
    align-self: center;
    bottom: 0px;
    margin: 20px 20px 5px 20px;
}

.formEventContent > p{
    font-size: 12px;
    margin-bottom: 0;
}



@media (max-width: 751px){
    .formContainerMain{
        flex-direction: column;
        width: 100%;
    }

    .adminForm{
        width: 90%;
        height: auto;
    }

    .formContainerMain > .errorMensage {
        align-self: center;
        font-size: 25px;
     }

     .adminInput{
         margin: 0;
     }
     
}