.text {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  margin: 12px 15px;
  outline: none;
}

.text:hover {
  color: violet;
  text-decoration: none;
  transform: scale(1);
}

