.component--flex {
  display: flex;
  border-bottom: 3px solid rgba(238, 130, 238, 0.918);
}

.component--flex--logo {
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  max-width: 200px;
}

.component--flex--button {
  flex: 3 1 auto;
  align-self: center;
  padding: 0 30%;
}

@media (max-width: 767.98px) {
  .component--flex--button {
    padding: 0;
    margin-top: 17px;
  }
  .component--flex--logo {
    padding: 0;
  }
}
