.componentFlexButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.componentFlex {
  display: flex;
  border-bottom: 3px solid rgba(238, 130, 238, 0.918);
  background-color: hsla(287, 60%, 3%, 0.918);
}
.responsiveNavbar {
  width: 100px;
}
.imgLogo {
  width: 100px;
}
.componentFlexLogo {
  flex: 1 1 auto;
  align-self: center;
  max-width: 200px;
}
.navbar-branddiv.fluidNav {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .componentFlexButton {
    flex: 3 1 auto;
    align-self: center;
  }
}
div.fluidNav {
  position: fixed;
  z-index: 2;
  min-width: 100%;
  padding: 0;
}
