.footer {
  display: flex;
  flex-direction: column;
  background: #343a4075;
  align-items: center;
  min-width: 100%;
}
.contacts {
  margin-top: 20px;
  color: #ee3f93;
  margin: 20px;
}
.social-icon li {
  list-style: none;
  margin: 15px;
}
.social-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
  padding: 0;
}
.social-icon p {
  margin: 20px;
}
.fa {
  font-size: 25px;
}
.fa-whatsapp {
  color: #1ebea5;
}
.fa-envelope {
  color: #007bff;
}
.fa-facebook-official {
  color: #3b5998;
}
.fa-instagram {
  color: #fb3958;
}
.links {
  color: #000000d9;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #ee3f93;
  text-decoration: none;
}
.footer:last-child {
  text-align: center;
}
