@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
 font-family: 'Montserrat', sans-serif;
}

.titles{
    color: rgb(163, 77, 130);
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 2em;
}

.errorMensage{
    margin: 10px;
    padding: 10px 20px 20px 20px;
    text-align: center;
    font-size: 20px;
    color: #752129;
    background-color: rgb(226, 113, 124);
    min-width: 70%;
    letter-spacing: 2px;
    border-radius: 10px;
    border-top: 20px inset #ff4545;
  }
  
.messageGreen{
    margin: 10px;
    padding: 10px 20px 20px 20px;
    text-align: center;
    font-size: 20px;
    color: #1D5E2C;
    background: #8dc298;
    min-width: 70%;
    letter-spacing: 2px;
    border-radius: 10px;
    border-top: 20px inset #93dd7e;    
}