.button{
    background: rgb(238, 39, 188);
    color: #fff;
    display: block;
    min-height: 3em;
    width: 10em;
    font-weight: bold;
    padding: -1em 2em;
    position: relative;
    text-decoration: none;
    border-radius: 15px;
    transition: 1.2s;
  }
  
  .button:hover {
    background: #ff2957;
  }
  .button:hover:before {
    border-bottom: 15px solid #ff29ca;
    border-top: 15px solid #ff29ca;
  }
  .button:hover:after {
    border-left: 15px solid #ff29ca;
  }